PORT=5173
BASE_PATH=/

VITE_SUPABASE_URL=https://vichehgptbdzbjxqbfit.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpY2hlaGdwdGJkemJqeHFiZml0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MjI5MDYsImV4cCI6MjA5NTQ5ODkwNn0.H3jyKTHGtEn_ZaYqYAgdb07PCluEy3Jfgq_ki77bgwQ

VITE_API_URL=http://localhost:3000

